@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.app {
  
  a{
    text-decoration: none;
  }
}
//mobile first design 
@media (min-width: 375px) {
  .app {
    padding: 12px 4%;
    .header {
      width: 100%;
      padding: 6px;
      display: inline-block;
      background-color: rgba(227, 178, 119, 0.902);
      .homebutton {
        padding: 10px 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #1e5578e9;
      }
      .search-form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search-input {
          width: 77%;
          padding: 8px;
          border: 1px solid #1e5578e9;
          border-radius: 3px;
          box-shadow: none;
          &:focus {
            outline: none;
          }
        }
        .search-button {
          width: 20%;
          padding: 6px 5px;
          border-radius: 3px;
          color: #EDEDED;
          border-width: 0;
          background-color: #1e5578e9;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .app {
    padding: 12px 4%;
    .header {
      width: 100%;
      padding: 10px 5;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .homebutton  {
        font-size: 2em;

      }
      .search-form {
        width: 80%;
        align-items: center;
        justify-content: space-around;
        .search-input {
          width: 80%;
        }
        .search-button {
          width: 14%;
          padding: 9px 15px;
           border-radius: 3px;
         }
      }
    }
  }

}